* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-weight: 500;
}

.container {
    margin: 100px auto 0;
    background: #121212;
    width: 550px;
    height: 779px;

}

header {
    color: #FFFFFF;
    background: url("images/header-img.png") no-repeat;
    background-position: 50% 22.5%;
    width: 550px;
    height: 208px;
    display: flex;
    margin: 0 auto;
}


header h1 {
    padding-left: 42px;
    align-self: center;
    font-size: 42.79px;
    font-weight: 800;
    line-height: 23.77px;
    letter-spacing: -0.045em;
    text-align: justified;
}

header p {
    margin-left: 120px;
    align-self: center;
    padding-top: 6px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: right;
}

main {
    margin: 0 auto;
    border: 2px solid red;
    width: 462px;
    height: 533.41px;
}

#search-bar {
    display: flex;
    justify-content: space-between;
    width: 462px;
    height: 38px;
    border-radius: 6px 0px 0px 0px;
    background: #2E2E2F;
    box-shadow: 0px 1px 2px 0px #0000000D;
}

#search-icon {
    margin-left: 20px;
    align-self: center;
    width: 20px;
    height: 20px;
    background-image: url("icons/icon-3.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#search-input {
    width: 60%;
    margin-right: 10px;
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    appearance: none; /* For other browsers */
    padding: 9px 13px;
    background: #2E2E2F;
    border: none;
    outline: none; /* Remove outline */
    color: white; /* Set text color */
}

#search-button {
    width: 120px;
    padding: 9px 11px 9px 17px;
    border-radius: 0px 6px 6px 0px;
    background: #4B4B4B;
}

/* Results styling */
#result {
    display: flex;
    color: #FFFFFF;
}

#result img {
    margin-top: 30px;
    width: 99px;
    height: 147.41px;
    border-radius: 2.33px 0px 0px 0px;
}

#result-info {
    align-self: center;
}

#result-info-2 {
    align-self: center;
}

#result-info-3 {
    align-self: center;
}

